version: '3.9'

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: caseiq_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: caseiq_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: samfox22
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: